* {
  margin: 0;
  padding: 0; }

.cuerpo {
  background-image: linear-gradient(to bottom, black, violet); }

.grupo1index {
  display: flex;
  flex-direction: row; }
  .grupo1index section {
    padding-right: 30px;
    padding-left: 55px; }

.img1index {
  height: 370px;
  width: 420px; }

.parrafo-1-index {
  font-size: 18px;
  text-align: center; }

.img2index {
  height: 370px;
  width: 420px; }

.parrafo-2-index {
  font-size: 18px;
  text-align: center; }

.img3index {
  height: 370px;
  width: 420px; }

.parrafo-3-index {
  font-size: 18px;
  text-align: center; }

.cuerpo-quienes-somos {
  height: 80vh;
  background-image: url(../IMAGENES/quienessomosfondo.jpg); }

.parrafo {
  font-size: 20px;
  border-radius: 8px;
  width: 45%;
  transform: translate(805px);
  text-align: justify;
  background-color: rgba(33, 0, 33, 0.405);
  color: #bbf9e0; }

.grupo1 {
  display: flex;
  flex-direction: row; }
  .grupo1 section {
    padding-right: 50px;
    padding-left: 185px; }

.img1, .img2, .img3 {
  height: 200px;
  width: 225px; }

.grupo2 {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 1px;
  justify-content: space-evenly; }

.img4, .img5 {
  height: 200px;
  width: 225px; }

.parrafo-servicios {
  color: bisque;
  text-align: center; }

.pregunta-titulo {
  color: bisque;
  text-align: center; }

.pregunta {
  color: blanchedalmond;
  padding-left: 15px; }

.respuesta {
  padding-left: 10px; }

.h2contacto {
  padding-top: 100px;
  padding-left: 600px;
  color: aquamarine; }

.form {
  padding-left: 600px; }

/* ESTILO PARA HEADER */
.encabezado {
  background-color: black;
  height: 10vh;
  color: aquamarine;
  padding-left: 100px; }

.rock {
  position: absolute;
  display: inline;
  padding-top: 15px; }
  .rock:hover {
    font-size: 50px; }

header a {
  display: flex;
  flex-direction: row;
  color: aquamarine;
  text-decoration: none; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-decoration: none;
  list-style-type: none;
  align-content: space-between;
  padding-top: 45px; }

.inicio:hover, .quienes-somos:hover, .servicios:hover, .dudas-frecuentes:hover, .contacto:hover {
  font-size: 15px; }

.inicio, .quienes-somos, .servicios, .dudas-frecuentes, .contacto {
  padding-right: 15px; }

/* ESTILO PARA MAIN */
.cuerpo {
  height: 80vh; }

/* ESTILO PARA FOOTER */
.pie-de-pagina {
  background-color: #160920;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.grid-footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  list-style-type: none; }
  .grid-footer a {
    text-decoration: none;
    color: aquamarine;
    margin: 20px; }
