.pregunta-titulo {
    color: bisque;
    text-align: center;
    padding-top: 35px;
  }


.pregunta {
    color: blanchedalmond;
    padding-left: 15px;
    font-size: 20px;
  }


  .respuesta {
    padding-left: 15px;
    font-size: 20px;
  }


