.grupo1index {
    display: flex;
    flex-direction: row;
  
    section {
      padding-right: 50px;
      padding-left: 100px;
    }
  }
  
  .img1index {
    height: 300px;
    width: 340px;
  }
  
  .parrafo-1-index {
    font-size: 18px;
  }
  
  .img2index {
    height: 300px;
    width: 340px;
  }
  
  .parrafo-2-index {
    font-size: 18px;
  }
  
  .img3index {
    height: 300px;
    width: 340px;
  }
  
  .parrafo-3-index {
    font-size: 18px;
  }

  