.grupo1index {
  margin-top: 50px;
    display: flex;
    flex-direction: row;
  
    section {
      padding-right: 30px;
      padding-left: 55px;
    }
  }
  
  .img1index {
    height: 370px;
    width: 420px;
  }
  
  .parrafo-1-index {
    font-size: 18px;
    text-align: center;
  }
  
  
  .parrafo-2-index {
    font-size: 18px;
    text-align: center;
  }
  
  .img3index {
    height: 370px;
    width: 420px;
  }
  
  .parrafo-3-index {
    font-size: 18px;
    text-align: center;
  }


