@media (max-width: 400px) {
    
  
    .parrafo-1-index {
        font-size: 9px;
        text-align: center;
      }

    a {
        font-size: 10px;
    }
    .menu{
        font-size: 10px;

    }
    .rock{
        font-size: 10px;
    }
    .img1index {
        height: 75px;
        width: 80px;
    }


}