.cuerpo-quienes-somos {
    height: 80vh;
    background-image: url(../IMAGENES/quienessomosfondo.jpg);
  }
  
  .parrafo {
    font-size: 20px;
    border-radius: 8px;
    width: 45%;
    transform: translate(805px);
    @include parrafoQuienesSomos(rgba(33, 0, 33, 0.405), rgb(187, 249, 224) );
  }


  